* {
  /* border-top: 10px solid #1098ad; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 基本样式 */
body {
  font-family: sans-serif;
  /* background-color: rgb(153, 126, 177); */
  border-top: 10px solid #1098ad;
}

.container {
  width: 900px;
  margin: 0 auto;
}

/* 导航栏整体样式 */
.navbar {
  background-color: #f7f7f7;
  /* overflow: hidden; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 网站名称/LOGO */
.navbar-brand {
  color: #1098ad;
  font-size: 24px;
  text-decoration: none;
  margin-left: 40px;
}

.bloger {
  letter-spacing: 2px;
  margin-right: 4px;
}

/* 导航链接列表 */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 0px;
}

.nav-links a {
  color: #1098ad;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

.nav-links a:hover {
  /* background-color: #575757; */
  /* border-radius: 4px; */
  color: rgb(246, 85, 171);
}

footer {
  text-align: center;
}
